:root{
    --navigation-color:#0d41dd;
    --white-text:#fff;
    --heading-font:'montserrat', 'sans-serif';
    --body-font:'Open Sans', sans-serif;
    
}

html{
box-sizing: border-box;
font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--body-font);
    text-transform: uppercase;
}
h1,h2,h3, a{
    
    letter-spacing: .4rem;
}
h1{
    text-align: center;
}
p{
    font-size: 1.2rem;
}

.contenedor{
    max-width: 120rem;
   
    margin: 0 auto;
}
nav{
    padding: 2rem 0rem;
    background-color: var(--navigation-color);
     
}
nav ul{
    display:flex; 
}

img{
    max-width: 100%;
    display: block;
}
ul,li,a{
    text-decoration: none;
}
figcaption{font-size: 2rem;
        padding: 2rem 0rem;
        }

/***Hambueger menu***/
#menu{
   display:block;
   font-size: 2rem; 
   background: none;
  border: none;
   cursor: pointer;
}
#menu::before{
    content: "☰";
}
#menu.open::before{
    content: "❌";
    
}
#menu.open{
    position: absolute;
    right: 2rem;
    top: 2rem;
    
}


main.contenedor{
  transition: margin-top 0.3s ease;
}
@media (max-width: 600px) { /* Solo en mobile despliega el menu hamburguesa! */
.menu-open main.contenedor{
    margin-top: 20rem; 
}
}

.navigation{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    background-color: var(--navigation-color);
}


.navigation li{
    flex: 1;
    text-align: center;
}
.navigation a{
    display: block;
    padding: 1rem;
    color:var(--white-text);
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.3s;
}
.navigation a:hover{
    background-color: #0dc835;
    color: var(--navigation-color);
}

.temple-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
    max-width: 120rem;
    margin: 0 auto;

}
section{
    display: flex;
    flex-direction: column;
     flex-grow: 1;        
    padding: 1rem;
  text-align: center;
    
    
}
section img{
    object-fit: cover;
    width: 100%;
     flex-grow: 1;       
}



@media (min-width: 900px) {
    .contenedor-header {
        display: flex;
        flex-direction: column;
        max-width: 
        120rem;
    }

    #menu {
        display: none; 
    }

  
    .navigation {
        display: flex !important; 
        flex-direction: row;
        position: static;
        background: none;
    }
}
    @media(min-width: 600px) {
        #menu {
            display: none; 
    }
}


/* --- Ajustes para el Menú Hamburguesa --- */
@media (max-width: 600px) {
    .navigation {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 8rem; 
        left: 0;
        width: 100%;
        z-index: 1000;
    }

  
    .navigation.open {
        display: flex; 
    }
}


@media (min-width:600px) {
    .temple-grid{
        grid-template-columns: repeat(2, 1fr); 
    }
    
}

@media (min-width: 900px) {
    .temple-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
    p{
        font-size: 1.5rem;
    }
}

section p , h3{
    text-align: center;
}
section h3{
    font-size: 1.7rem;
}
/*****Footer*****/

footer{
    background-color: var(--navigation-color);
    padding: 2rem 0rem;
    text-align: center;
    color: var(--white-text);

}
footer p{
    font-size: 1.5rem;
}