:root{
    --header-bg-color: #510555;
    --form-bg-color: #d0cbd1;
    --input-bg-color: #ffffff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: #333;
    line-height: 1.6;

}
form{
    background-color: var(--form-bg-color);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
}
fieldset{
    border: none;
    padding: 0;
}
header, footer{
    background-color: var(--header-bg-color);
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-weight: 600;
    font-size: 1.5rem;
}
main{
    max-width: 650px;
    margin: 3rem auto;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);

}
label{
    display: block;
    padding: 1rem;
    margin-top: 0.3rem;
    font-size: 0.8rem;
}
select, input[type="date"], input[type="text"], textarea{
    width: 100%;
    padding: 0.5rem;
    background-color: var(--input-bg-color);
    border: 1px solid #ccc;
    border-radius: 4px;
}
.rating-container label{
    margin-top: 0;
}

input[type="submit"]{
    background-color: var(--header-bg-color);
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}
input[type="submit"]:hover{
    background-color: #3a0338;
}
