@media (min-width:500px){
    .temple-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contenedor-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #menu{
        display: none;
    }
    .navigation{
        display: flex !important;
        flex-direction: row;
      
        gap: 2rem;
    }
}

@media(min-width:900px){
    .temple-grid{
        grid-template-columns: repeat(3 , 1fr);
        
    }
    .navigation li a{
        font-size: 2.5rem;
        color: aqua;
    }
}